<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">О компании</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">Услуги</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#clients">Клиенты</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Контакты</a>
                    </li>
                </ul>
                <p class="copyright text-muted">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4">
              <a href='https://play.google.com/store/apps/details?id=com.MoonMobility.PrinceAlbert1&hl=ru&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                <img alt='Доступно в Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/ru_badge_web_generic.png'/>
              </a>
            </div>
        </div>
    </div>
</footer>
