<!-- Page Content -->

<section id="services">
  {% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  {% if thecycle == 'odd' %}
  <div class="content-section-a">

    <div class="container">

      <div class="row vertical-align">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer-a">
          <div class="clearfix"></div>
          <h2 class="section-heading">{{ post.title }}</h2>
          <div class="lead text-justify">{{ post.content }}</div>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <img class="img-responsive" src="img/services/{{ post.img }}" alt="{{ post.title }}"/>
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.content-section-a -->
  {% else %}

  <div class="content-section-b">

    <div class="container">

      <div class="row vertical-align">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer-b">
          <div class="clearfix"></div>
          <h2 class="section-heading">{{ post.title }}</h2>
          <div class="lead text-justify">{{ post.content }}</div>
        </div>
        <div class="col-lg-5 col-sm-pull-6 col-sm-6">
          <img class="img-responsive" src="img/services/{{ post.img }}" alt="{{ post.title }}"/>
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.content-section-b -->
  {% endif %}
  {% endfor %}
</section>

<section id="clients">
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-xs-11 col-md-10 col-centered text-center">

          <h2>Наши клиенты</h2>

          <div id="carousel" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="2500">
            <div class="carousel-inner">

              {% for client in site.clients %}
              {% if forloop.first %}
              <div class="item active">
                <div class="carousel-col">
                  <div class="block img-responsive">
                    <img class="img-responsive" src="img/clients/{{ client.img }}" alt="{{ client.title }}"/>
                  </div>
                </div>
              </div>
              {% else %}
              <div class="item">
                <div class="carousel-col">
                  <div class="block img-responsive">
                    <img class="img-responsive" src="img/clients/{{ client.img }}" alt="{{ client.title }}"/>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}

            </div>

            <!-- Controls -->
            <div class="left carousel-control">
              <a href="#carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
            </div>

            <div class="right carousel-control">
              <a href="#carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

</section>
